#main_div_A{
    display:grid;
    grid-template-columns:1fr;
    grid-auto-rows:auto;
    grid-auto-flow:row;
    box-sizing: border-box;
}
#sub_div_A{
    display:grid;
    padding:1em;
    padding-top:0px;
    box-sizing:border-box;
}
#about_header_A{
    font-size:1.5em;
    margin-left:0em;
    font-family:cursive,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(17, 17, 17);
}

#header_w{
    display: grid;
    grid-template-rows:1fr;
    grid-auto-flow: column;
    align-content:center;

}
#home_w{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    justify-self:center;
    align-self:center;
}
#main_logo {
  box-sizing: border-box;
  max-width: 250px;
  max-height: 120px;
  min-height: 76px;
  align-self: center;
}
#header-name-div{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:1fr;
    justify-self: start;
    align-self:center;
    align-items:center;
    justify-items: start;
    justify-content:start;
}
#para_A{
    font-size:1.3em;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Handjet', cursive;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Roboto Slab', serif;
    word-spacing:0.1em;
    line-height:1.5em;
    color:rgb(88, 88, 88);
}
#para_div_A{
    display:grid;
    justify-content:left;
    grid-template-columns:1fr;
    justify-items:left;
    padding-left:1em;
    box-sizing: border-box;
}

#footer{
    display:grid;
    grid-auto-columns:max-content;
    grid-auto-flow:column;
    grid-template-rows:1fr;
    justify-content: center;
    justify-self:center;
    grid-gap:5em;
    padding:1em;
    box-sizing:border-box;


}
#footer_btn{
    border:none;
    background:none;
    font-size:2.6em;
    color:grey;
}

#link_footer{
    text-decoration:none;
    color:gray;
    
}
#link_footer:hover{
    color:black;
}
@media screen and (max-width: 800px) {
    #para_A{
        font-size:1.1em;
    }
    #about_header_A{
        font-size:1.3em;
    }
    #para_div_A{
        padding-left:0.5em;
    }
    #footer{
        display: grid;
        grid-gap:3em;
        
    }

}
@media screen and (max-width: 400px) {
    #footer{
        display: grid;
        border-top:0.1em solid #ccc;
    }

}

