::-webkit-scrollbar {
  display: none;
}
#bodyh {
  width: 100%;
  max-width: 100%;
  height: 100%;
  box-sizing: border-box;
  min-width: 320px;
}
#main_div_profile_f {
  display: block;
  position: relative;
  order: 5;
  z-index: 2;
}
#div_profile_f {
  display: none;
  position: absolute;
  background-color: white;
  top: 100%;
  z-index: 200;
  right: 100%;
  width: 48vmin;
  height: 48vmin;
  box-sizing: border-box;
  background-color: #efeded;
  box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(174, 174, 174);
  border-radius: 0.1em;
}
#X{
  display:none;
  border:none;
  background:none;
  font-size:1.1em;
  position: absolute;
  top:1%;
  right:1%;
  color:#5d5d5d;

}
#submainp_f {
  position: relative;
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 0.8fr;
  grid-template-rows: 1fr 0.9fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 48vmin;
  height: 48vmin;
  z-index:200;
}
#imgp_f {
  width: 5em;
  height: 5em;
  border-radius: 100%;
  object-fit: contain;
}
#ptxt_f {
  font-size: 3vmin;
  word-wrap: break-word;
  font-family: "Bodoni Moda", serif;
  font-family: "Bricolage Grotesque", sans-serif;
  font-family: "Chakra Petch", sans-serif;
  font-family: "Handjet", cursive;
  font-family: "IBM Plex Mono", monospace;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.08em;
  color: black;
}
#sub_div_P_f {
  display: grid;
  grid-template-columns: 0.8fr 1.5fr;
  grid-template-rows: 8em;
  justify-content: center;
  justify-items: center;
  align-items: center;
  column-gap: 1em;
  background-color: #ffffff;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(185, 184, 184);
  width:48vmin;
}
#sub_div_p_2f {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 1em;
  width: 40vmin;

  justify-items: left;
  align-items: center;
  align-content: center;
}
#header {
  display: grid;
  justify-items: center;
  background-color: #ffffff;
  width: 100%;
  position: relative;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  grid-template-rows: 5em;
  height: max-content;
  min-width: 320px;
  box-sizing: border-box;
  padding-left: 0.5em;
  border-bottom: 0.16em solid #ccc;
  background-color: black;
}
#main_logo {
  
  box-sizing: border-box;
  max-width: 250px;
  max-height: 120px;
  min-height: 76px;
  align-self: center;
}
#header-name-div {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 1fr;
  width: 100%;
  justify-content:center;
  align-content: center;
  align-items:center;
  max-width: 100%;
  overflow:scroll;
  justify-self:center;
  align-self:center;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}
#header-name {
  color: rgba(239, 245, 239, 0.952);
  font-size: 1.5em;
  font-family: "Times New Roman", Times, serif;
  justify-self: left;
  letter-spacing: 0.3em;
}



#linklog {
  
  color: #ffffff;
  text-decoration: none;
}

#navitems{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:0.4fr 0.5fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
}
#navlogbtn{
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows:0.4fr 0.5fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  order: 3;
}
#navlogdiv{
  display: grid;
  order: 3;
}


#navitemstxt {
  font-size: 1em;
  color: #ffffff;
}
#searchdiv {
  display: grid;
  grid-template-columns: 1fr 0fr;
  justify-items: center;
  align-content: center;
}
#searchbar {
  font-size: 1.3em;
  width: 100%;
  border-radius: 0.2em;
  border-color: grey;
  border-right: none white;
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
  border-width: 0.1em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 2em;
  color: rgb(136, 137, 137);
}
#searchbar:focus {
  border-width: 0.1em;
}
#searchicon2 {
  display: none;
  border-color: rgb(246, 244, 244);
  background: transparent;
  font-size: 1.3em;
  justify-items: center;
  align-items: center;
  border-left: none;
  border-top-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
  width: 100%;
}
#wishlistbtn {
  position: relative;
  background: none;
  color: #ffffff;
  width: max-content;
  height: fit-content;
  font-size: 2em;
  border: none;
}


#filterbar {
  display: grid;
  grid-template-rows: auto;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  overflow-y: auto;
  column-gap: 0.9em;
  overflow-x: scroll;
  scroll-behavior: smooth;
  width: 100%;
  min-width: 320px;
  background-color: transparent;
  padding-top: 0.5em;
  padding: 1em;
  box-sizing: border-box;
}
#filbtn {
  display:grid;
  position: relative;
  width: 11em;
  text-decoration: none;
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: none;
  overflow: visible;
  box-sizing: border-box;
  padding: 0.25em;
  background-color: transparent;
  font-size:0.9em;
}
#filbtn::before {
  content: "";
  inset: 0;
  position: absolute;
  background-color: #ccc;
  clip-path: polygon(
    calc(30% - 1.2em) 0%,
    70% 0%,
    100% 0,
    100% 70%,
    calc(70% + 1.2em) 100%,
    0 100%,
    0% 70%,
    0% 30%
  );
  z-index: -1;
}
#filbtn::after {
  content: "";
  inset: 0;
  position: absolute;
  background-color: #ffffff;
  clip-path: polygon(
    calc(30% - 0.9em) 0%,
    100% 0%,
    100% 65%,
    calc(70% + 0.9em) 100%,
    0 100%,
    0% 70%,
    0% 35%
  );
  z-index: -1;
}
#filbtn::before,
#filbtn::after {
  border: 0.15em solid #ccc;
  box-sizing: border-box;
  z-index: -1;
}

#span-tag {
  inset: 0;
}
#span-tag::before {
  content: "";
  position: absolute;
  top: 0;
  right: 5%;
  border-style: solid;
  border-width: 0 0 0.15em 2em;
  transition: 0.2s;
  z-index: 3;
  opacity: 0;
  color: #ee0e0e;
}
#span-tag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  border-style: solid;
  border-width: 0 0 0.15em 2em;
  transition: 0.3s;
  opacity: 0;
}

#filbtn:hover #span-tag::before {
  right: 50%;
  border-color: red;
  box-shadow: 0em 0em 0.2em 0em #ee0e0e;
  opacity: 0.8;
  cursor: crosshair;
}
#filbtn:hover #span-tag::after {
  left: 50%;
  border-color: red;
  box-shadow: 0em 0em 0.2em 0em #ee0e0e;
  opacity: 0.8;
  cursor: crosshair;
}
#span-tag2 {
  display: none;
  position: absolute;
  background-color: blue;
  top: 120%;
  width: 60px;
  right: 30%;
  height: 0.4em;
  transition: 0.2s;
  border-radius: 0.5em;
}

#linkH {
  display:grid;
  align-items:center;
  font-size: 1em;
  overflow: hidden;
  background-color:none;
  background: none;
  border:none;
  justify-self:center;
  color: black;
}

#main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-auto-rows: 0.7fr;
  max-width: 100%;
  max-height: 100%;
  grid-gap: 1em;
  margin-top: 5em;
  align-content: top;
  align-items: top;
  justify-content: top;
  justify-items: top;
  margin: 3em;
}
#main_content {
  position: relative;
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 100%;
  max-width: 600px;
  max-height: 100%;
  align-self: baseline;
  margin: auto;
  height: 100%;
}
#chid_content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid red;
  background-color: red;
  padding: 1em;
  box-sizing: border-box;
  width: 10em;
  overflow: hidden;
}
#main_img {
  display: inline;
  width: 100%;
  height: 20em;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  box-sizing: border-box;
  border-radius: 0.8em;
}
#link_All {
  display: grid;
  border: 0.15em solid #ccc;
  box-sizing: border-box;
  padding: 0.5em;
  border-radius: 0.5em;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}
#link_All:hover {
  border: 2px solid rgb(141, 71, 184);
}
#w_btn {
  position: absolute;
  top: 2%;
  right: 1%;
  background: none;
  border: none;
}
#w_btn_logo {
  font-size: 2em;
  color: rgb(120, 116, 116);
}
#childcontent2 {
  display: grid;
  grid-template-columns: 2fr 0.01fr;
  grid-template-rows: max-content max-content;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
#menubtn {
  display: inline;
  margin-top: 0.1em;
  width: fit-content;
  height: fit-content;
  border: none;
  background: none;
  font-size: 1.5em;
  margin-left: 1em;
}
#text {
  display: inline;
  max-width: 100%;
  width: fit-content;
  height: fit-content;
  font-size: 1em;
  word-wrap: break-word;
  text-align: justify;
  overflow: hidden;
}
#timetxt {
  display: inline;
  width: fit-content;
  height: fit-content;
  margin-left: 0.1em;
  margin-top: 1em;
}

#p {
  position: absolute;
  font-size: 0.6em;
  top: 30%;
  font-weight: 2em;
  color: rgb(255, 255, 255);
  font-family: "Handjet", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
}



#morebtn {
  display: none;
  background: none;
  color: rgb(19, 19, 19);
  font-size: 2em;
  font-weight: 2em;
  color: rgb(127, 132, 132);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  justify-self: center;
  align-self: center;
  border: none;
}

#moreicon {
  color: #ffffff;
  transition: 0.2s;
}

#morediv {
  display: grid;
  justify-content: baseline;
  align-content: stretch;
  border-radius: 0.2em;
  border: none;
  width: 27vw;
  transition: 0.2s;
  background-color: white;
  position: absolute;
  overflow: hidden;
  text-align: left;
  height: 0em;
  box-shadow: 0.01em 0.01em 0.5em 0.01em grey;
  box-sizing: border-box;
  justify-self: center;
  align-self: self-end;
  top: 0%;
}

#more_div_h {
  display: none;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  width: 100%;
  max-width: 100%;
  height: 0em;
  overflow: hidden;
  transition: 0.2s;
  min-width: 320px;
  box-sizing: border-box;
  margin-top: 0.5em;
}
#search_div_h {
  display: grid;
  grid-template-columns: 1fr 0fr;
  grid-template-rows: 3.5em;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}
#searchbar2_h {
  font-size: 1.4em;
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border: none;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}
#searchicon3_h {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: transparent;
  font-size: 1.6em;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: bottom;
  align-content: bottom;
  justify-items: center;

  font-weight: 1em;
  box-sizing: border-box;
  padding-top: 0.2em;
  border: none;
  outline: none;
}
#sub_search_div_m_h {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: 1fr;
  position: relative;
  z-index: 10;
  justify-content: space-around;
}
#sub_search_div_h {
  display: grid;
  position: relative;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  align-items: center;
  border: 0.17em solid #ccc;
  border-bottom: none;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  background-color: #ffffff;
}
#sub_search_div2_h {
  display: grid;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0%;
  height: 0px;
  border: 0.17em solid #ccc;
  box-sizing: border-box;
  border-top: none;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background-color: #ffffff;
  box-shadow: 0em 0.2em 0.5em 0.1em rgb(211, 211, 211);
  overflow:scroll;
  max-height:15em;
}
#search_txt_h {
  margin-left: 0.1em;
  font-size: 1.4em;
  font-family: "Handjet", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-family: "Handjet", cursive;
}
#search_div {
  display:none;
  grid-template-columns: 0.9fr 0fr;
  grid-template-rows: 3.5em;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}
#searchbar2 {
  
  font-size: 1.5em;
  width: 100%;
  height: 100%;
  min-width: 100%;
  max-width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(136, 137, 137);
  border: none;
  letter-spacing: 0.1em;
  box-sizing: border-box;
  background-color: white;
}
#searchbar2:focus {
  border: none;
  outline: none;
}
#searchbar2_h:focus {
  border: none;
  outline: none;
}
#searchicon3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  background: transparent;
  font-size: 1.6em;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: bottom;
  align-content: bottom;
  justify-items: center;
  color: #b0b0b0;
  font-weight: 1em;
  box-sizing: border-box;
  padding-top: 0.2em;
  border: none;
  outline: none;
}
#sub_search_div_m {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: 1fr;
  position: relative;
 
  justify-content: space-around;
}
#sub_search_div {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  border: 0.17em solid #ccc;
  border-bottom: none;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  box-shadow: 0.1em 0.1em 0.5em 0.1em rgb(211, 211, 211);
}
#sub_search_div2 {
  display: grid;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0%;
  height: 0px;
  border: 0.17em solid #ccc;
  box-sizing: border-box;
  border-top: none;
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background-color: #ffffff;
  box-shadow: 0em 0.2em 0.5em 0.1em rgb(211, 211, 211);
  overflow:scroll;
  z-index:1;
  max-height:10em;
}
#search_txt {
  margin-left: 0.1em;
  font-size: 1.4em;
  font-family: "Handjet", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-family: "Handjet", cursive;
}
#btn_more {
  display: grid;
  width: 100%;
  background: none;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border: none;
  box-sizing: border-box;
  height: 100%;
  padding: 0px;
  box-sizing: border-box;
}
#vertical-line {
  width: 0.09em;
  height: 1.2em;
  background-color: #ccc;
  margin: 0 0.2em;
  align-self: center;
  justify-self: center;
}
#link_log_more {
  font-size: 1.5em;
  display: grid;
  grid-template-columns: 0.1fr 0.3fr;
  grid-template-rows: 1fr;
  column-gap: 0.4em;
  justify-items: center;
  text-decoration: none;
  align-items: center;
  color: black;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
#txt_more {
  color: rgb(136, 137, 137);
  font-family: "Handjet", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
  font-family: "Handjet", cursive;
}
#li {
  float: left;
  margin-top: 10%;
  font-size: 100%;
  color: black;
  float: left;
  margin-left: 5%;
}
#profilebtn {
  border-radius: 300%;
  width:2.6em;
  height:2.6em;
  object-fit: cover;
  order: 4;
  color: #111111;
  margin-top: 1.5%;
  margin-right: 3%;
}
#linkprofile {
  border-radius: 300%;
  width: 6vmin;
  height: 6vmin;
  object-fit: cover;
  order: 5;
  color: #181818;
  margin-top: 1.5%;
  margin-right: 3%;
}
#link_child {
  text-decoration: none;
  color: #111111;
}

@media screen and (max-width: 700px) {
  #main_logo{
    max-width:200px;
    max-height:100px;
  }
  #main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  }
  
}
@media screen and (max-width: 1670px) {
  #search_div{
    display:grid;
  }
  #search_div_h {
    display: none;
  }
}
#header-name-div {
  grid-column-start: 1;
  grid-column-end: 3;
}
@media screen and (max-width: 800px) {
  #main_logo{
    max-width:200px;
    max-height:100px;
  }
  #searchbar {
    display: none;
  }
  #wishlistbtn {
    display: none;
  }

  #navitems{
    display: none;
  }

  #log {
    margin-bottom: 4%;
    font-size: 1.6em;
  }
  #header-name-div {
    grid-column-end: 4;
  }

  #morebtn {
    display: block;
  }
  #linkprofile {
    margin-top: 2%;
  }
  #more_div_h {
    display: grid;
  }
}

@media screen and (max-width: 1265px) {
  #searchbar {
    display: none;
  }
}

@media  screen and (max-width:464px) {
    #main_logo{
      max-width:190px;
      max-height:90px;
    }
    #X{
       display:grid;
    }
    #div_profile_f{
      display: none;
      position:fixed;
      bottom: 0%;
      right: 0%;
      width: 100%;
      border-radius: 0.7em;
      z-index: 200;
      top:auto;
      height:auto;
    }
    #imgp_f{
      width:100%;
      height:100%;
    }
   
    #submainp_f{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      width: 100%;
      height: 100%;
     
    }
    #sub_div_P_f{
      grid-template-columns: 0.2fr 1fr;
      grid-template-rows: 1fr;
      width: 100%;
      margin: 1.7em;
    }
    #sub_div_p_2f{
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
      width: 100%;
    }
    #ptxt_f {
      font-size:1em;
    }
    #filbtn{
      font-size:0.59em;
    }
    #filbtn::before,#filbtn::after{
      border:0.20em solid lightgray;
    }
    #main_content{
        grid-template-columns:0.8fr 1fr ;
        grid-template-rows:100%;
        border-bottom: 0.1em solid lightgrey;
        padding:0.5em;
        box-sizing:border-box;
        grid-gap:1em;
    }
    #link_All{
       width:100%;
       height:100%;
       border:none;
       background-color:#ffffff;
       border-radius:0em;
       padding:1em;

   }
   #text{
     font-size:3vmin;
     align-self:top;
   }
   #timetxt{
     font-size:3vmin;
     margin-top:0em;
   }
   #menubtn{
    font-size:3vmin;
    margin-left:0em;
   }
   #childcontent2{
        grid-template-columns:1fr min-content;
        grid-template-rows:min-content 0.1fr;
        row-gap:0.3em;

   }
   #main_img{
   width:100%;
   height:100%;
   margin:0em;
   border-radius: 0.2em;
  }
  #main{
   margin: 0em;
   }
}
#search_items_div{
  display:grid;
  align-items:center;
  justify-content:right;
  grid-template-columns:0.1fr 1fr;
  grid-template-rows:1fr;

}
#search_items_div:hover{
  cursor:pointer;
  background-color: #e0dfdf;

}
#previous_sear{
  display: grid;
  font-size:1.5em;
  color:black;
  background:none;
  border:none;
  justify-self:left;
  align-self:center;
  font-family:cursive,Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  


}
#previous_sear:hover{
  cursor: pointer;

}
#history_icon{
  display:grid;
  justify-self:center;
  align-self:center;
  font-size:1em;
  color:grey;

}