#header_w_nav{
    display:grid;
    border-bottom:0.16em solid #ccc;
    align-items:center;
    background-color:rgb(0, 0, 0);
    min-width:320px;
    box-sizing:border-box;
    flex-flow:row;
    grid-auto-columns:auto;
    grid-auto-flow:column;
    grid-template-rows:2em;
    box-sizing: border-box;
    border-width: 10px;
    border-color:black;
    padding: 1em;
    padding-left:0px;
}
#header-name-div-nav {
  display: grid;
  grid-template-columns:1fr;
  grid-template-rows: 1fr;
  width: 100%;
  justify-content:center;
  align-content: center;
  align-items:center;
  max-width: 100%;
  justify-self:center;
  align-self:center;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100%;
}

#main_logo_nav {
  
  box-sizing: border-box;
  max-width: 250px;
  max-height: 120px;
  min-height: 76px;
  align-self: center;
}

#home_w_nav{
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: 1fr;
    justify-self:center;
    align-self:center;
}
#house{
    background-color:none;
    color: white;
}

#home_w_nav{
    color: #fff;
    background: none;
    border: none;
    justify-self: right;
    font-size: 1.5em;
    display: grid;
}